.c{
    background-color: rgb(239, 98, 98);
}

.c1{
    margin-left: 80px;
    padding-top: 100px;
}

.c2{
    margin-left: 80px;
}

.c-extra{
    margin-left: 80px;
}

.c-email{
    display: flex;
}

.c3{
    margin-left: 80px; 
    border: 1px solid black;
    
}

.c4{
    
    margin-left: 80px;
    margin-left: 10px;
    
}


.c5{
    margin-left: 80px;
    color: aliceblue;
    font-size: small;
}

.c6{
    position: absolute;
    top: 70px;
    right: 70px;
    padding-bottom: 400px;
}

img{
    height: 400px;
    width: 400px;
    
    
}


.c7{
    margin-top: 200px;
    background-color: black;
    color: aliceblue;
}

.ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    
}